target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.nbm
/templates/netbeans/SampleProjects/ClojureProjectTemplate/build/
/templates/netbeans/SampleProjects/ClojureProjectTemplate/nbproject/private/